{% if pageCount > 1 %}
    <nav class="blog-pagination justify-content-center d-flex">
        <ul class="pagination">
            {% if previous is defined %}
                <li class="page-item">
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">
                    <span class="lnr lnr-chevron-left"></span>
                    </span>
                    </a>
                </li>
            {% endif %}
            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}"
                                             class="page-link">{{ page }}</a></li>

                {% else %}
                    <li class="page-item active">
                        <span class="page-link">
                            {{ page }}
                        </span>
                    </li>


                {% endif %}
            {% endfor %}
            {% if next is defined %}
                <li class="page-item">
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="page-link" aria-label="Next">
                    <span aria-hidden="true">
                    <span class="lnr lnr-chevron-right"></span>
                    </span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{#{% if pageCount > 1 %}#}
    {#<div class="pagination">#}
        {#{% if first is defined and current != first %}#}
            {#<span class="first">#}
                {#<a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>#}
            {#</span>#}
        {#{% endif %}#}

        {#{% if previous is defined %}#}
            {#<span class="previous">#}
                {#<a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>#}
            {#</span>#}
        {#{% endif %}#}

        {#{% for page in pagesInRange %}#}
            {#{% if page != current %}#}
                {#<span class="page">#}
                    {#<a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>#}
                {#</span>#}
            {#{% else %}#}
                {#<span class="current">{{ page }}</span>#}
            {#{% endif %}#}
        {#{% endfor %}#}

        {#{% if next is defined %}#}
            {#<span class="next">#}
                {#<a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>#}
            {#</span>#}
        {#{% endif %}#}

        {#{% if last is defined and current != last %}#}
            {#<span class="last">#}
                {#<a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>#}
            {#</span>#}
        {#{% endif %}#}
    {#</div>#}
{#{% endif %}#}
