<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900" rel="stylesheet">
            <!--
                    CSS
                    ============================================= -->
            <link rel="stylesheet" href="{{ asset("assets/css/linearicons.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/font-awesome.min.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/bootstrap.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/magnific-popup.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/nice-select.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/animate.min.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/owl.carousel.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/main.css") }}">


        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% include "elements/menu.html.twig" %}
        {% block body %}{% endblock %}



    <!-- start footer Area -->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="footer-top flex-column">
                        <div class="footer-logo">
                            <a href="#">
                                <img src="img/logo.png" alt="">
                            </a>
                            <h4>Follow Me</h4>
                        </div>
                        <div class="footer-social">
                            <a href="{{ presentation.twitter }}"><i class="fa fa-twitter"></i></a>
                            <a href="{{ presentation.github }}"><i class="fa fa-github"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom justify-content-center">
                <p class="col-lg-8 col-sm-12 footer-text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved (ColorLib)| This porfolio is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Yassine</a>
                    for
                    <a href="https://colorlib.com" target="_blank">{{ presentation.username }}</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <!-- ####################### Start Scroll to Top Area ####################### -->
    <div id="back-top">
        <a title="Go to Top" href="#">
            <i class="lnr lnr-arrow-up"></i>
        </a>
    </div>
    <!-- ####################### End Scroll to Top Area ####################### -->


    {% block javascripts %}

            <script src="{{ asset("assets/js/vendor/jquery-2.2.4.min.js") }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
            <script src="{{ asset("assets/js/vendor/bootstrap.min.js") }}"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
            <script src="{{ asset("assets/js/easing.min.js") }}"></script>
            <script src="{{ asset("assets/js/hoverIntent.js") }}"></script>
            <script src="{{ asset("assets/js/superfish.min.js") }}"></script>
            <script src="{{ asset("assets/js/mn-accordion.js") }}"></script>
            <script src="{{ asset("assets/js/jquery.ajaxchimp.min.js") }}"></script>
            <script src="{{ asset("assets/js/jquery.magnific-popup.min.js") }}"></script>
            <script src="{{ asset("assets/js/owl.carousel.min.js") }}"></script>
            <script src="{{ asset("assets/js/jquery.nice-select.min.js") }}"></script>
            <script src="{{ asset("assets/js/isotope.pkgd.min.js") }}"></script>
            <script src="{{ asset("assets/js/jquery.circlechart.js") }}"></script>
            <script src="{{ asset("assets/js/mail-script.js") }}"></script>
            <script src="{{ asset("assets/js/wow.min.js") }}"></script>
            <script src="{{ asset("assets/js/main.js") }}"></script>
        <script src="{{ asset("assets/js/vendor/fuse.js") }}"></script>
        <script src="{{ asset("assets/js/utilities/search.js") }}"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" integrity="sha256-ENFZrbVzylNbgnXx0n3I1g//2WeO47XxoPe0vkp3NC8=" crossorigin="anonymous" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha256-3blsJd4Hli/7wCQ+bmgXfOdK7p/ZUMtPXY08jmxSSgk=" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
